@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
	box-sizing: border-box;
}
body {
  color: #000;
  font-family: 'Lato', sans-serif;
  padding: .45em 2.65em 3em;
  line-height: 1.5;
}
h1 {
  margin: auto;
  text-align: center;
  border-bottom: 1px;
  padding-bottom: .5em;
}
a{
    color:#C16266;
}
img {
  width: 100%;
}
.page-content{
    background-color:rgba(255,255,255, 1);
    border-radius: 25px;
    padding: 2.5rem;
}
.post-list {
    margin: auto;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color:#D57D93;
    text-transform: uppercase;
}

.nav a:hover {
  color: green;
}
input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.title {
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    margin:0;
    color:#D57D93;
    padding:0;
    border: 3px solid seagreen;
}
.links {
    justify-content: center;
    flex-direction: row;
}
 
footer {
	background-color:rgba(255,255,255, 0.7);
    border-radius: 25px;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}
a[href="linked"] {
    color:blue;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
.main-header,
.main-nav {
  display:flex;

}

.main-header {
  flex-direction: column;
  align-items: center;
}


}

@media (min-width: 1025px) {

  .main-header {
      flex-direction: row; 
      justify-content: space-between; 
}
}