@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
	box-sizing: border-box;
}
body {
  color: #000;
  font-family: 'Lato', sans-serif;
  padding: .45em 2.65em 3em;
  line-height: 1.5;
  background-color: rgb(252, 224, 224);
}
h1 {
  margin: auto;
  text-align: center;
  border-bottom: 1px;
  padding-bottom: .5em;
}
h2 {
    text-align: center;
}
.nav > h2 {
    margin:0;
}
a{
    color:#C16266;
}
img {
  width: 100%;
}
#nav {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headshot{
    border-radius: 50%;
    max-width: 10rem;
    display: inline-block;
}
.page-content{
    border-radius: 25px;
    padding: 2.5rem;
}
.post-list {
    margin: auto;
}
.nav{
    list-style:none;
    margin-top: 0.5rem;
    padding:0;
    display:flex;
    justify-content: center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-size: 1.3rem;
    color:#D57D93;
    text-transform: uppercase;
}

.nav a:hover {
  text-decoration: none;
  color: rgb(93, 168, 42);
  opacity: 0.4;
  transition: 0.6s;
}
.about-me {
    max-width: 45rem;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
.title {
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    margin:0;
    color:#D57D93;
    padding:0;
    border: 3px solid seagreen;
}
.links {
    justify-content: center;
    flex-direction: row;
}
 
footer {
    border-radius: 25px;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}
a[href="linked"] {
    color:blue;
}

.intro {
    display: flex;
    justify-content: center;
}
.blurb {
    justify-content: center;
}

/*================================= 
Portfolio CSS
================================= */
.projects {
    max-width: 45rem;
    margin: auto;
}
.beerHopper > img {
    max-width: 40rem;
}
.images {
    margin: auto;
    overflow: auto;
    white-space: nowrap;
    /* transform: rotate(270deg) translateX(-100%);
    transform-origin: top left; */
}
.images > img {
    max-width:10rem;
    margin: 1rem;
    border-radius: 5px;
}
.section-title {
    background-color: #D57D93;
    border-radius: 15px;
    padding: 0 1rem;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
}
.section-content {
    padding: 0.5rem;
    margin: auto;
    max-width: 43rem;
    display:flex;
    flex-direction: column;
}
.project-title {
    flex-grow: 2;
    justify-self: flex-start;
}
.section-title > h2 {
    justify-self: flex-end;
}
.project-link {
    color: #fff;
    text-decoration: none;
}
h3.icons {
    justify-self: flex-end;
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
.main-header,
.main-nav {
  display:flex;

}

.main-header {
  flex-direction: column;
  align-items: center;
}


}

@media (min-width: 1025px) {

  .main-header {
      flex-direction: row; 
      justify-content: space-between; 
}
}